<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fuga deleniti mollitia aut sint earum laborum consectetur dolorem et beatae, eveniet repudiandae. Natus architecto non quidem veritatis voluptate temporibus porro.</p>

    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fuga deleniti mollitia aut sint earum laborum consectetur dolorem et beatae, eveniet repudiandae. Natus architecto non quidem veritatis voluptate temporibus porro.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, odio, perferendis, molestiae ducimus vitae laboriosam eveniet eius fuga ex dolor voluptates et aspernatur? Reiciendis minima eaque repudiandae perferendis. Vel, fuga?</p>
    </div>

</body>
</html>